<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroundBookingSystem"
        tools:targetApi="31">

        <!-- Login Activity (Launcher) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Ground Detail Activity -->
        <activity
            android:name=".GroundDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- My Bookings Activity -->
        <activity
            android:name=".MyBookingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Admin Create Ground Activity -->
        <activity
            android:name=".AdminCreateGroundActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Admin Dashboard Activity -->
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Booking Activity -->
        <activity
            android:name=".BookingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- My Bookings History Activity -->
        <activity
            android:name=".BookingHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Admin Grounds Management Activity -->
        <activity
            android:name=".AdminGroundsManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Admin Edit Ground Activity -->
        <activity
            android:name=".AdminEditGroundActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Admin All Bookings Activity -->
        <activity
            android:name=".AdminAllBookingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>
